{% extends "base.html" %}

{% block title %}
    My tasks
{% endblock title %}
{% block content %}
    <h1>My Tasks</h1>
    {% if tasks_list %}
        <table>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            {% for task in tasks_list %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no tasks</p>
    {% endif %}
{% endblock content %}
